<div class="dialog">
    <h1>{{header}}</h1>
    <form [formGroup]="formulario" (submit)="crearModificarProducto()">
        <p>
            <mat-form-field appearance="fill">
                <mat-label>Nombre</mat-label>
                <input matInput placeholder="Nombre del producto..." id="nombre" formControlName="nombre" type="text">
                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                <mat-error *ngIf="nombreControl?.invalid">El nombre ingresado no es valido</mat-error>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="fill">
                <mat-label>Categoria</mat-label>
                <mat-select [formControl]="tipoControl" name="tipo">
                  <mat-option>None</mat-option>
                  <mat-option *ngFor="let categoria of categorias" [value]="categoria.id">
                    {{categoria.descripcion | titlecase}}
                  </mat-option>
                </mat-select>
                <mat-icon matSuffix>create</mat-icon>
                <mat-error *ngIf="tipoControl?.invalid">Debe seleccionar una categoria</mat-error>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="fill">
                <mat-label>Precio</mat-label>
                <input matInput placeholder="Precio del producto..." id="precio" formControlName="precio">
                <mat-icon matSuffix>money</mat-icon>
                <mat-error *ngIf="precioControl?.invalid">El precio ingresado no es valido</mat-error>
            </mat-form-field>
        </p>

        <div class="dialog-buttons">
            <button mat-raised-button color="primary" class="header-item" class="button" type="submit"
                [disabled]="formulario.invalid">{{botonSubmitMensaje}}</button>
            <button mat-raised-button color="primary" class="header-item" class="button"
                (click)="cancelar()">Cancelar</button>
        </div>
    </form>
</div>